<h1>Lista de Usuários</h1>

<table *ngIf="responseUsers">
  <thead>
    <td>Nome</td>
    <td>Sobrenome</td>
    <td>E-mail</td>
    <td>Ações</td>
  </thead>
  <tbody>
    <tr *ngFor="let user of responseUsers.data">
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
      <td>{{user.email}}</td>
      <td>
        <a class="bl" routerLink="/users/update/{{user.id}}">Editar</a>
        <a class="re" routerLink="/users/delete/{{user.id}}">Remover</a>
      </td>
    </tr>
  </tbody>
</table>
